/* Common Start */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Figtree', sans-serif;
  background-color: #272934;
  color: white;
}
/* Common End */
/* ---------------------------- */




/* Alvee Start */

/* Alvee End */
/* ---------------------------- */




/* Fuad Start */
/* Fuad End */
/* ---------------------------- */
